body {
  background-color: #353535;
}

.all {
  text-align: center;
  color: #fcfcfc;
  font-size: 150%;
  font-family: 'Oswald', sans-serif;
  margin: 10%;
}

#mainheader {
  font-family: 'Orelega One', cursive;
}

ul {
  list-style-type: none;
  text-align: center;
  width: 65%;
  margin: auto;
  padding: 0;
  background-color: #2e2e30;
  border-radius: 10px;
  border-style: solid;
  border-width: 15px;
  border-color: #2e2e30;
}

li {
  display: inline;
  padding-right: 10px;
  padding-left: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 150%;
}

li a:hover {
  background-color: black;
  border-style: solid;
  border-width: 15px;
  border-color: black;
}

a:link,
a:visited {
  color: #fcfcfc;
}

#result {
  display: inline;
}

#inline {
  display: inline;
}

#hint {
  font-size: 60%;
}

#quiz {
  display: none;
}

.img-right {
  float: right;
  border-style: ridge;
  border-color: #fcfcfc;
  border-width: 3px;
  margin: 20px;
}

.img-left {
  float: left;
  border-style: ridge;
  border-color: #fcfcfc;
  border-width: 3px;
  margin: 20px;
}

.img-center {
  border-style: ridge;
  border-color: #fcfcfc;
  border-width: 3px;
  margin: auto;
}
